<header>
  <app-menu></app-menu>
</header>

<div class="divBody">
  <router-outlet></router-outlet>
</div>

<footer class="text-center">
  <small>
    <span>© Inusual 2023</span>
    <span class="m-4">-</span>
    <a href="tel:113"> <span class="fa fa-phone"></span> +353 1 5482 6610 </a>
    <span class="m-4">-</span>
    Contactanos
    <a
      class="redes"
      href="https://inusual.com.ar/"
      style="background-color:#00264d"
      target="_blank"
    >
      <i title="Web" class="fa fa-globe"></i>
    </a>
    <a
      class="redes"
      href="https://www.facebook.com/inusual.ar"
      style="background-color:#2962ff"
      target="_blank"
    >
      <i title="Facebook" class="fa fa-facebook-f"></i>
    </a>
    <a
      class="redes"
      href="mailto:info@inusual.com.ar"
      style="background-color:#5ba4d6"
      target="_blank"
    >
      <i title="Mail" class="fa fa-envelope"></i>
    </a>
    <a
      class="redes"
      style="background-color:#ec4c51"
      href="https://www.instagram.com/inusual_ar/"
      target="_blank"
    >
      <i title="Instagram" class="fa fa-instagram"></i>
    </a>
    <a
      class="redes"
      style="background-color:#00e676"
      href="https://web.whatsapp.com/send?phone=5493534826610"
      target="_blank"
    >
      <i title="Whatsapp" class="fa fa-whatsapp"></i>
    </a>
  </small>
</footer>
