.Indexacion .Indexacion titulo {
  position: relative;
}

.Indexacion-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Indexacion-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Indexacion-header {
  position: fixed;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Indexacion-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Indexacion video {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  -o-object-fit: cover;
  overflow: hidden;
  filter: invert(1);
}

.Indexacion IndexarTitle {
  color: #61dafb;
}

/* titulo ,  sub titulo */

.header__titulo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3.5rem;
}

.header__titulo-activo {
  font-size: 1.5rem;
  font-weight: normal;
}

/* linea */

.tituloPagina {
  padding-bottom: 0.5rem;
  margin: 0;
  padding-left: 1rem;
}

/* pantalla */

.pantalla {
  height: 100vh;
  margin: 0px;
}

/* bloque */

.bloque {
  padding: 0 !important ;
}